{% extends 'blogs/base.html' %}
{% block title %}{{ post }} | Thịnh Blog{% endblock %}
{% block desc %}{% endblock %}
{% block content %}
<main role="main" class="container mt-3">
  <div class="row">
    <div class="col-lg-8">
      <div class="container mt-1 mb-3">
        <form action="{% url 'blogs:search' %}" method="get" id="formSearch">
          <input type="search" name="q" class="form-control" value="{{ search_query }}" placeholder="Tìm kiếm">
        </form>
      </div>
      <div class="d-none d-xl-block text-center mb-4">
        <div class="ad ad-728x90"></div>
      </div>
      <div class="d-none d-sm-block d-xl-none text-center mb-4 h-60px">
        <div class="ad ad-468x60"></div>
      </div>
      <section class="header">
        <h2><strong>{{ post }}</strong></h2>
        <hr class="mb-1">
        <div class="row">
          <div class="col-8">
            <small class="text-mutex">Cập nhật: {{ post.timestamp|date:'d.m.Y' }} | <a href="#" class="text-decoration-none text-info">{{ post.author }}</a></small>
            <br>
            <small class="text-mutex">Lượt xem: 200</small>
            <br>
            <small class="text-mutex">Tags:</small>
            <small>
              {% for tag in post.tags_list %}
                {% if tag %}
                <a href="#" class="text-warning">#{{ tag }}</a>{% if not forloop.last %}, {% endif %}
                {% endif %}
              {% endfor %}
            </small>
          </div>
          <div class="col-4 d-flex align-items-center justify-content-end">
            <a href="#" class="badge badge-dark">{{ post.categories }}</a>
          </div>
        </div>
        <hr class="mt-1">
        <article class="bg-white p-3 mb-4 rounded shadow-sm">
          {{ post.content|safe }}
          {% lorem 10 %}
        </article>
        <div class="d-none d-xl-block text-center mb-4 h-90px">
        </div>
        <div class="d-none d-sm-block d-xl-none text-center mb-4 h-60px">
        </div>
        <section class="bg-white p-4 mb-4 rounded shadow-sm">
          <h4>Bình luận</h4>
          <hr>
        </section>
      </section>
    </div>
    {% include 'blogs/sidebar.html' %}
  </div>
</main>
{% endblock %}
