/* Thinh Blog CSS */

footer .container {
    opacity: .3;
    transition: opacity .5s;
}

footer .container:hover {
    opacity: 1;
}

.card > a {
    overflow: hidden;
}

.card:hover {
    box-shadow: 0 0 5px 1px #6c757d !important;
}

.card-img-top {
    transition: transform .5s;
}

.card-img-top:hover {
    transform: scale(1.15);
}

.h-60px {
    height: 60px;
}

.h-90px {
    height: 90px;
}

.h-250px {
    height: 250px;
}

.h-600px {
    height: 600px;
}

#formSearch {
    display: none;
}

#formSearch input[type=search] {
    background-color: transparent;
    border: 0;
    border-bottom: 2px solid #6c757d;
    border-radius: 0;
    box-shadow: none;
    outline: 0;
}

#to-top {
    bottom: .5rem;
    color: rgba(108, 117, 125, .3);
    display: none;
    font-size: 2.5rem;
    position: fixed;
    right: 1rem;
    z-index: 1021;
}

#to-top:hover {
    color: rgba(108, 117, 125, 1);
    cursor: pointer;
}
