<!DOCTYPE html>
<html lang="vi">
{% load static %}
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}{% endblock %}</title>
  <meta name="description" content="{% block description %}{% endblock %}">
  <link rel="stylesheet" href="{% static 'blogs/css/bootstrap-4.5.0.min.css' %}">
  <link rel="stylesheet" href="{% static 'blogs/css/fontawesome-5.13.0.min.css' %}">
  <link rel="stylesheet" href="{% static 'blogs/css/style.css' %}">
  {% block style_extra %}{% endblock %}
</head>
<body class="bg-light">
  {% include 'blogs/header.html' %}
  {% block content %}{% endblock %}
  {% include 'blogs/footer.html' %}
  <script src="{% static 'blogs/js/jquery-3.5.1.min.js' %}"></script>
  <script src="{% static 'blogs/js/popper-1.16.0.min.js' %}"></script>
  <script src="{% static 'blogs/js/bootstrap-4.5.0.min.js' %}"></script>
  <script>
    $(document).ready(function(){
      $("#btnSearch").click(function(){
        $("#formSearch").slideToggle();
      });
      $(window).scroll(function(){
        if($(this).scrollTop()>500){
          $("#to-top").fadeIn();
        }else{
          $("#to-top").fadeOut();
        }
      });
      $("#to-top").click(function(){
        $("html,body").animate({scrollTop:0});
      });
    });
  </script>
  {% block script_extra %}{% endblock %}
</body>
</html>
