<!DOCTYPE html>
<html lang="vi">
{% load static %}
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}{% endblock %}</title>
  <meta name="description" content="{% block desc %}{% endblock %}">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  <link rel="stylesheet" href="{% static 'blogs/css/style.css' %}">
  {% block style_extra %}{% endblock %}
</head>
<body>
  {% include 'blogs/header.html' %}
  {% block content %}{% endblock %}
  {% include 'blogs/footer.html' %}
  {% block script_extra %}{% endblock %}
</body>
</html>
