<footer class="bg-dark text-light pt-4 pb-2">
  <div class="container">
    <ul class="nav justify-content-center mb-3">
      <li class="nav-item">
        <a href="#" class="nav-link text-light border-right border-secondary py-0">CHÍNH SÁCH</a>
      </li>
      <li class="nav-item">
        <a href="#" class="nav-link text-light border-right border-secondary py-0">PHẢN HỒI</a>
      </li>
      <li class="nav-item">
        <a href="#" class="nav-link text-light border-right border-secondary py-0">QUẢNG CÁO</a>
      </li>
      <li class="nav-item">
        <a href="#" class="nav-link text-light py-0">LIÊN HỆ</a>
      </li>
    </ul>
    <div class="col-lg-8 text-center border-top border-secondary mx-auto pt-2">
      <section>&copy; THỊNH BLOG &bull; {% now "Y" %}</section>
      <section>
        <a href="#" class="btn p-0"><i class="fab fa-facebook-square text-light"></i></a>
        <a href="#" class="btn p-0"><i class="fas fa-envelope text-light"></i></a>
        <a href="#" class="btn p-0"><i class="fab fa-github-square text-light"></i></a>
      </section>
    </div>
  </div>
</footer>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
