<header>
  <nav class="navbar navbar-expand-lg navbar-light bg-white shadow-sm py-3">
    <div class="container">
      <button class="navbar-toggler order-2 order-lg-1" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbar-left navbar-right" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="col-lg-5 collapse navbar-collapse order-3 order-lg-2" id="navbar-left">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a href="{% url 'blogs:post-list' %}" class="nav-link">Trang chủ</a>
          </li>
          <li class="nav-item dropdown">
            <a href="#" class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Danh mục</a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              {% for category in categories %}
              <a class="dropdown-item" href="#">{{ category }}</a>
              {% endfor %}
            </div>
          </li>
        </ul>
      </div>
      <div class="col col-lg-2 text-lg-center order-1 order-lg-3"><a href="{% url 'blogs:post-list' %}" class="navbar-brand mr-0"><h3 class="mb-0">Thịnh Blog</h3></a></div>
      <div class="col-lg-5 collapse navbar-collapse order-4 order-lg-4" id="navbar-right">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a href="#" class="nav-link">Giới thiệu</a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link">Liên hệ</a>
          </li>
        </ul>
        <div class="ml-lg-2">
          <a href="/admin/" class="btn mt-2 mt-lg-0 px-2" title="Đăng nhập" target="_blank"><i class="fas fa-user"></i></a>
          <a id="btnSearch" class="btn mt-2 mt-lg-0 px-2" title="Tìm kiếm" target="_blank"><i class="fas fa-search"></i></a>
        </div>
      </div>
    </div>
  </nav>
</header>
