{% extends 'blogs/base.html' %}
{% block title %}Thịnh Blog &bull; Lập trình, Chụp ảnh và Khám phá{% endblock %}
{% block desc %}{% endblock %}
{% block content %}
{% load static %}
<main role="main" class="container mt-3">
  {{ queryset }}
  <div class="row">
    <div class="col-lg-8">
      <div class="container mt-1 mb-3">
        <form action="{% url 'blogs:search' %}" method="get" id="formSearch">
          <input type="search" name="q" class="form-control" value="{{ search_query }}" placeholder="Tìm kiếm">
        </form>
      </div>
      <div class="d-none d-xl-block text-center mb-4 h-90px">
        <!-- <img src="{% static 'blogs/img/ads/728x90.png' %}" alt="728x90"> -->
      </div>
      <div class="d-none d-sm-block d-xl-none text-center mb-4 h-60px">
        <!-- <img src="{% static 'blogs/img/ads/468x60.png' %}" alt="468x60"> -->
      </div>
      <div class="row row-cols-1 row-cols-md-2">
        {% for post in post_list %}
        <div class="col mb-4">
          <section class="card h-100 shadow-sm border-0">
            <a href="{{ post.get_absolute_url }}"><img src="{{ post.thumbnail.url }}" class="card-img-top" alt="{{ post.title }}"></a>
            <div class="card-body">
              <h5 class="card-title"><a href="{{ post.get_absolute_url }}" class="card-link text-dark">{{ post }}</a></h5>
            </div>
            <div class="card-footer">
              <div class="row">
                <div class="col-8">
                  <small class="text-muted">Cập nhật: {{ post.timestamp|date:'d.m.Y' }}</small>
                </div>
                <div class="col-4 text-right">
                  <a href="#" class="badge badge-dark">{{ post.categories }}</a>
                </div>
              </div>
            </div>
          </section>
        </div>
        {% endfor %}
      </div>
      <div class="d-none d-xl-block text-center mb-4 h-90px">
        <!-- <img src="{% static 'blogs/img/ads/728x90.png' %}" alt="728x90"> -->
      </div>
      <div class="d-none d-sm-block d-xl-none text-center mb-4 h-60px">
        <!-- <img src="{% static 'blogs/img/ads/468x60.png' %}" alt="468x60"> -->
      </div>
      <div class="row row-cols-1 row-cols-md-2">
        <div class="col mb-4">
          <section class="card h-100 shadow-sm border-0">
            <a href="#"><img src="./static/img/350x200.png" class="card-img-top" alt=""></a>
            <div class="card-body">
              <h5 class="card-title"><a href="#" class="card-link text-dark">Lorem ipsum, dolor sit amet consectetur adipisicing elit.</a></h5>
            </div>
            <div class="card-footer">
              <div class="row">
                <div class="col-8">
                  <small class="text-muted">Cập nhật: 30.04.2020</small>
                </div>
                <div class="col-4 text-right">
                  <a href="#" class="badge badge-dark">Lập trình</a>
                </div>
              </div>
            </div>
          </section>
        </div>
        <div class="col mb-4">
          <section class="card h-100 shadow-sm border-0">
            <a href="#"><img src="./static/img/350x200.png" class="card-img-top" alt=""></a>
            <div class="card-body">
              <h5 class="card-title"><a href="#" class="card-link text-dark">Lorem ipsum dolor sit amet.</a></h5>
            </div>
            <div class="card-footer">
              <div class="row">
                <div class="col-8">
                  <small class="text-muted">Cập nhật: 30.04.2020</small>
                </div>
                <div class="col-4 text-right">
                  <a href="#" class="badge badge-danger">Công nghệ</a>
                </div>
              </div>
            </div>
          </section>
        </div>
      </div>
      <nav aria-label="Page navigation" class="container mb-4">
        <div class="row">
          <div class="col-6 text-right pr-2">
            {% if page_obj.has_previous %}
            <a href="?page={{ page_obj.previous_page_number }}" class="btn bg-secondary text-light w-75">Trước</a>
            {% endif %}
          </div>
          <div class="col-6 pl-2">
            {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}" class="btn bg-dark text-light w-75">Tiếp</a>
            {% endif %}
          </div>
        </div>
      </nav>
    </div>
    {% include 'blogs/sidebar.html' %}
  </div>
</main>
{% endblock %}
