{% extends 'blogs/base.html' %}
{% block title %}Thịnh Blog &bull; Lập trình, Chụp ảnh và Khám phá{% endblock %}
{% block desc %}{% endblock %}
{% block content %}
<main role="main" class="container mt-3">
  <div class="row">
    <div class="col-lg-8">
      <div class="d-none d-xl-block text-center mb-4">
        <img src="./static/img/ads/728x90.png" alt="728x90">
      </div>
      <div class="d-none d-sm-block d-xl-none text-center mb-4">
        <img src="./static/img/ads/468x60.png" alt="468x60">
      </div>
      <div class="row row-cols-1 row-cols-md-2">
        <div class="col mb-4">
          <section class="card h-100 shadow-sm border-0">
            <a href="./single.html"><img src="./static/img/350x200.png" class="card-img-top" alt=""></a>
            <div class="card-body">
              <h5 class="card-title"><a href="./single.html" class="card-link text-dark">Lorem ipsum, dolor sit amet consectetur adipisicing elit.</a></h5>
            </div>
            <div class="card-footer">
              <div class="row">
                <div class="col-8">
                  <small class="text-muted">Cập nhật: 30.04.2020</small>
                </div>
                <div class="col-4 text-right">
                  <a href="#" class="badge badge-dark">Lập trình</a>
                </div>
              </div>
            </div>
          </section>
        </div>
        <div class="col mb-4">
          <section class="card h-100 shadow-sm border-0">
            <a href="#"><img src="./static/img/350x200.png" class="card-img-top" alt=""></a>
            <div class="card-body">
              <h5 class="card-title"><a href="#" class="card-link text-dark">Lorem ipsum dolor sit amet.</a></h5>
            </div>
            <div class="card-footer">
              <div class="row">
                <div class="col-8">
                  <small class="text-muted">Cập nhật: 30.04.2020</small>
                </div>
                <div class="col-4 text-right">
                  <a href="#" class="badge badge-danger">Công nghệ</a>
                </div>
              </div>
            </div>
          </section>
        </div>
        <div class="col mb-4">
          <section class="card h-100 shadow-sm border-0">
            <a href="#"><img src="./static/img/350x200.png" class="card-img-top" alt=""></a>
            <div class="card-body">
              <h5 class="card-title"><a href="#" class="card-link text-dark">Lorem ipsum dolor sit amet.</a></h5>
            </div>
            <div class="card-footer">
              <div class="row">
                <div class="col-8">
                  <small class="text-muted">Cập nhật: 30.04.2020</small>
                </div>
                <div class="col-4 text-right">
                  <a href="#" class="badge badge-warning">Nhiếp ảnh</a>
                </div>
              </div>
            </div>
          </section>
        </div>
        <div class="col mb-4">
          <section class="card h-100 shadow-sm border-0">
            <a href="#"><img src="./static/img/350x200.png" class="card-img-top" alt=""></a>
            <div class="card-body">
              <h5 class="card-title"><a href="#" class="card-link text-dark">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Et, repellendus.</a></h5>
            </div>
            <div class="card-footer">
              <div class="row">
                <div class="col-8">
                  <small class="text-muted">Cập nhật: 30.04.2020</small>
                </div>
                <div class="col-4 text-right">
                  <a href="#" class="badge badge-success">Đời sống</a>
                </div>
              </div>
            </div>
          </section>
        </div>
      </div>
      <div class="d-none d-xl-block text-center mb-4">
        <img src="./static/img/ads/728x90.png" alt="728x90">
      </div>
      <div class="d-none d-sm-block d-xl-none text-center mb-4">
        <img src="./static/img/ads/468x60.png" alt="468x60">
      </div>
      <div class="row row-cols-1 row-cols-md-2">
        <div class="col mb-4">
          <section class="card h-100 shadow-sm border-0">
            <a href="#"><img src="./static/img/350x200.png" class="card-img-top" alt=""></a>
            <div class="card-body">
              <h5 class="card-title"><a href="#" class="card-link text-dark">Lorem ipsum, dolor sit amet consectetur adipisicing elit.</a></h5>
            </div>
            <div class="card-footer">
              <div class="row">
                <div class="col-8">
                  <small class="text-muted">Cập nhật: 30.04.2020</small>
                </div>
                <div class="col-4 text-right">
                  <a href="#" class="badge badge-dark">Lập trình</a>
                </div>
              </div>
            </div>
          </section>
        </div>
        <div class="col mb-4">
          <section class="card h-100 shadow-sm border-0">
            <a href="#"><img src="./static/img/350x200.png" class="card-img-top" alt=""></a>
            <div class="card-body">
              <h5 class="card-title"><a href="#" class="card-link text-dark">Lorem ipsum dolor sit amet.</a></h5>
            </div>
            <div class="card-footer">
              <div class="row">
                <div class="col-8">
                  <small class="text-muted">Cập nhật: 30.04.2020</small>
                </div>
                <div class="col-4 text-right">
                  <a href="#" class="badge badge-danger">Công nghệ</a>
                </div>
              </div>
            </div>
          </section>
        </div>
      </div>
      <nav aria-label="Page navigation" class="container mb-4">
        <div class="row">
          <div class="col-6 text-right pr-2">
            <a href="#" class="btn bg-dark text-light w-75">Mới</a>
          </div>
          <div class="col-6 pl-2">
            <a href="#" class="btn bg-secondary text-light w-75">Cũ</a>
          </div>
        </div>
      </nav>
    </div>
    <aside class="col-lg-4">
      <div class="bg-white p-4 mb-4 rounded shadow-sm">
        <h4>Giới thiệu</h4>
        <hr>
        <p class="mb-0">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Accusantium repellat beatae ab eum atque officia culpa saepe excepturi? Sed unde quisquam tenetur illum magnam cupiditate voluptate pariatur ipsam vel nam.</p>
      </div>
      <div class="text-center mb-4">
        <img src="./static/img/ads/300x250.png" alt="300x250">
      </div>
      <div class="bg-white p-4 mb-4 rounded shadow-sm">
        <h4>Phổ biến</h4>
        <hr>
        <ul>
          <li><a href="#" class="text-decoration-none text-dark">Lorem ipsum dolor, sit amet consectetur adipisicing elit.</a></li>
          <li><a href="#" class="text-decoration-none text-dark">Lorem ipsum dolor sit amet.</a></li>
          <li><a href="#" class="text-decoration-none text-dark">Lorem ipsum dolor sit amet consectetur.</a></li>
        </ul>
      </div>
      <div class="sticky-top text-center mb-4">
        <img src="./static/img/ads/300x600.png" alt="300x600">
      </div>
    </aside>
  </div>
</main>
{% endblock %}
